<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
        <i [attr.class]="!isCollapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
        (click)="toggleContent()">        
        {{ title }}            
        </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" [class.show]="!isCollapsed" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ng-content select=".body"></ng-content>
        </div>
      </div>
    </div>
